<div class="add-form">
  <h1 *ngIf="isAddMode">Add User</h1>
  <h1 *ngIf="!isAddMode">Edit User</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-7">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">nName is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-7">
        <label>Company Name</label>
        <input type="text" formControlName="cname" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.cname.errors }" />
        <div *ngIf="submitted && f.cname.errors" class="invalid-feedback">
          <div *ngIf="f.cname.errors.required">Company Name</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-7">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-7">
        <label>Phone </label>
        <input type="text" formControlName="phone" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Phone is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>

    </div>
  </form>
</div>
